{% extends "customer/baseaccountpage.html" %}

{% load url from future %}
{% load i18n staticfiles thumbnail %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/my_images.css" %}" />
{% endblock %}

{% block tabcontent %}

    <ul class="unstyled my_images my-medias" id="my_images">
        {% for image_obj in object_list %}
            {% include 'collection/media/render_my_image_item.html' %}
        {% empty %}
            <li>{% trans 'No image found' %}</li>
        {% endfor %}
    </ul>

    <div id="total-page" class="total-page loading" style="display: none;"
         data-load-more="{% url 'my-images' %}"
         data-total-page="{{paginator.num_pages}}">
        <img src="{% static "images/fb-loading.gif" %}">
    </div>
{% endblock tabcontent %}

{% block modal %}
    {% include "collection/media/view_image_in_modal.html" %}
    {% include 'collection/message_confirm.html' %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/webtoolkit.base64.js" %}"></script>
    <script type="text/javascript" src="{% static "js/collection/pagination.js" %}"></script>
    <script type="text/javascript" src="{% static "js/collection/medias_remove.js" %}?v=100"></script>
    <script type="text/javascript" src="{% static "js/collection/my_images.js" %}?v=100"></script>
{% endblock %}