{% load i18n compress staticfiles thumbnail hash_tags collection_tags like_tags %}
{% block extrascripts %}
    <script src="{% static 'js/social/extra_script.js' %}"></script>
{% endblock extrascripts %}
{% for wall_parent in parent %}
    <div id="my-wall-post-{{ wall_parent.id }}" class="my_wall_parent">
        <img src="{{ wall_parent.user.get_avatar_src_full_url }}"/>
        <span class="my_wall_username">{% if wall_parent.user == wall_parent.friend %}{{ wall_parent.user.get_full_name }}{% else %}{{ wall_parent.friend.get_full_name }}{% endif %}</span>
        <span class="my_wall_date_post">
            {{ wall_parent.create_date | date:'SHORT_DATE_FORMAT' }} at {{ wall_parent.create_date | time:'P' }}
        </span>
        <div class="my_wall_content">
        {% if 'http'|match:wall_parent.content or '@'|match:wall_parent.content or '#'|match:wall_parent.content %}
            <span id="my_wall_content_parent_{{ wall_parent.id }}" class="my-wall-message-link">
                {% render_wall_post wall_parent.content %}
            </span>
        {% else %}
            {{ wall_parent.content }}
        {%endif%}
        </div>
        <div class="btn-delete-like">
            <a data-id="{{ wall_parent.id }}" id="social-message-parent" data-toggle="modal"  href="#my_wall_delete_message">{% if wall_parent.user_id == request.user.id %}{% trans 'Delete' %}{% endif %}</a>
            {% render_like_btn wall_parent %}
            <input type="hidden" class="my-wall-obj-child-parent" id="my_wall_obj_message_parent_id">
        </div>
     </div>
     {% for wall_child in child%}
        {% if wall_child.message_id = wall_parent.id %}
             <div id="my-wall-post-{{ wall_child.id }}" class="my_wall_child">
                <img src="{{ wall_child.user.get_avatar_src_full_url }}"/>
                <span class="my_wall_username">{{ wall_child.user.get_full_name }}</span>
                <span class="my_wall_date_post">
                    {{ wall_child.create_date | date:'SHORT_DATE_FORMAT' }} at {{ wall_child.create_date | time:'P' }}
                </span>
                <div id="my_wall_content_child_{{ wall_child.id }}" class="my_wall_content" >
                {% if 'http'|match:wall_child.content or '@'|match:wall_child.content or '#'|match:wall_child.content %}
                    <span id="my_wall_content_child_link_{{ wall_child.id }}" class="my-wall-message-link">
                        {% render_wall_post wall_child.content %}
                    </span>
                {% else %}
                    {{ wall_child.content }}
                {%endif%}
                </div>
                <div class="btn-delete-like">
                    <a data-toggle="modal" id="social-message-child"  data-id="{{ wall_child.id }}" href="#my_wall_delete_message">{% if wall_child.user_id == request.user.id %}Delete{% endif %}</a>
                    {% render_like_btn wall_child %}
                </div>
             </div>
            <input type="hidden" value="appended_child_{{ wall_child.id }}" id="appended_child">
        {% endif %}
     {% endfor %}
     {% if not wall_parent.message_id %}
        <div class="wrapper_appended"></div>
         <div class="my_wall_text_comment_input" id="my_wall_text_comment_input_{{ wall_parent.id }}">
            <!--<span class="my_wall_username">{{ request.user.get_full_name }}</span>-->
             <span class="avatar_wrapper" id="avatar_wrapper_{{ wall_parent.id }}">
                        <img class="my_wall_input_avatar" id="my_wall_avatar_{{ wall_parent.id }}" src="{{ request.user.get_avatar_src_full_url }}"/>
            </span>
            <div class="clear_div_space"></div>
            <div id="my_wall_comment" class="control-group">
                <div class="controls">
                    <span id="wrapper_textbox_{{ wall_parent.id }}">
                        <textarea id="textarea_wall_post_{{ wall_parent.id }}" row="3" placeholder="Write a comment" class="textarea_wall_post textarea_width"></textarea>
                    </span>
                    <span class="help-block" id="my_wall_textarea_error_text_{{ wall_parent.id }}"></span>
                </div>
            </div>
        </div>
        <div class="clear_div_space"></div>
     {% endif %}
    <input type="hidden" value="textarea_wall_post_{{ wall_parent.id }}" class="appended_parent">
{% endfor %}
<div class="modal hide fade" id="my_wall_delete_message">
      {% render_alert set_id "Do you really want to delete this post ?" "/collection/view/" "Delete" "button" "" "btn_my_wall_delete_message" %}
</div>
<div class="my_wall_loading" id="my_wall_loading"><img src="{% static 'images/fb-loading.gif' %}"></div>
<input type="hidden" id="my_wall_delete_id">

