{% extends "layout.html" %}
{% load thumbnail reviews_tags i18n hash_tags  category_tags display_tags staticfiles %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/my_product_style.css" %}" />
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "promotions:home" %}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li><a tabindex="-1" href="{% url "HashtagList" %}">{% trans "Hashtag" %}</a></li>
        <span class="divider">/</span>
        <li><a tabindex="-1" href="{% url "TopHashTag" %}" >{% trans "Most popular hashtag" %}</a></li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    {% if hash_tag_list %}
        <div class="mod prod-mod">
            <ul id="prod-masonry">
                {% for hashtag in hash_tag_list %}
                    <li class="prod-item">{% render_list_hash_tag hashtag %}</li>
                {% endfor %}
            </ul>
            <div class="total-page loading" data-total-page="{{paginator.num_pages}}"><img src="{% static "images/fb-loading.gif" %}"></div>
        </div>
    {% else %}
        <p class="nonefound">{% trans "No hashtag found." %}</p>
    {% endif %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/webtoolkit.base64.js" %}"></script>
    <script type="text/javascript" src="{% static "js/my_js_function.js" %}"></script>
{% endblock %}
