{% load compress %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{% trans header_text  %}</h3>
</div>
<form action="{{ url }}" method="POST" class="form-horizontal">
{% csrf_token %}
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
    <button type="{{ type }}" id="{{ button_id }}" data-dismiss="{{modal}}"  class="btn btn-primary">{% trans btn_text %}</button>
</div>
</form>