{% load currency_filters reviews_tags staticfiles %}

{% for product in results %}
<li class="prod-item">
<div class="product_pod">
    <div class="image_container">
        <a href="{{ product.product_url }}" class="prod-link" osc-logged-in="{% if product.is_authenticated %}1{% endif %}">
            <div class="prod-info">
                <h3 class="title">{{ product.title|truncatewords:4 }}</h3>
                <div class="price">
                    {% if product.is_available_to_buy %}
                        <form action="{% url 'basket:add' %}" method="post" id="add-to-cart">
                            {% csrf_token %}
                            <input id="id_product_id" type="hidden" value="{{ product.id }}" name="product_id">
                            <input id="id_quantity" type="hidden" value="1" name="quantity">
                        </form>
                    {% endif %}

                    <h3 class="price_text">{{ product.price|currency }}</h3>

                    <p class="star-rating {{ product.rating|as_stars }} pull-right">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </p>
                </div>
            </div>

            <div class="prod-opacity hide"></div>
            <div class="wrapper-icon">
               <i class="icon icon-share-alt" osc-icon="share"></i>
                {% if product.is_available_to_buy %}
                    <i class="icon icon-shopping-cart" osc-icon="cart"></i>
                {% endif %}
                <i class="icon icon-plus" osc-icon="plus" id="plus-product-{{ product.id }}" data-id="{{ product.id }}"></i>
            </div>
            <img src="{% static product.product_thumb_img %}" alt="{{ product.title }}" class="thumbnail">
        </a>
    </div>
</div>
</li>
{% endfor %}
